body{
    background-color: #fff;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 15%;
    max-width: 60em;
}

.button-group{
    padding-top: 5px;
}

.button-group-accept{
    color: #fff;
    background-color: #008000;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 12px;
    text-align: center;
}

.button-group-accept:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.button-group-decline{
    color: #fff;
    border: none;
    background-color: #ff0000;
    width: 200px;
    height: 50px;
    font-size: 12px;
    text-align: center;
}
.button-group-decline:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.main{
    margin: auto;
    width: 60em;
    height: 20em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    align-items: center;
}

.item1{
    border: 1px solid black;
    width: 125px;
    height: 125px;
    margin: 1em;
}

img{
    display: block;
    max-width: 100%;
    width: 50px;
    height: 50px;
}

figcaption{
    text-align: center;
}

.item-desc-1{
    display: inline;
    font-size: 1.2em;
    font-family: 'Open Sans Condensed', sans-serif;
}

#item-desc-1::before{
    padding-right: 3px;
    display: inline;
    content: "1" "x";
}

body{
    margin: 0 auto;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 15%;
}


.item2{
    border: 1px solid black;
    width: 125px;
    height: 125px;
    margin: 1em;
}


figcaption{
    text-align: center;
}

.item-desc-2{
    display: inline;
    font-size: 1.2em;
    font-family: 'Open Sans Condensed', sans-serif;
}

#item-desc-2::before{
    padding-right: 3px;
    display: inline;
    content: "1" "x";
}




