body
{
	background: transparent;
}
.jumbotron {
    max-width: 40%;
	margin-left: auto;
	margin-right: auto;
    margin-top: 10%;
    padding: 25px 20px 15px 20px;
	box-shadow: 0 .5rem 3rem rgba(0,0,0,.15)!important;
	border-radius: .25rem!important;
}

h2 {
    text-align:center;
    text-decoration:underline;
}
li {
}

button {
    margin-top:2.5%;
}
.alert {
    margin-top: 1.5%;
}
.input-group {
    margin-top:1%;
}

audio { 
   display:none;
}